<div class="w-full rounded-3xl bg-black pb-20 pt-20 px-20 grid items-center">
  <div class="text-[50px] font-medium mb-20 text-white text-center">
    Witaj w quizie łatwy angielski
  </div>
  <div
    routerLink="/admin/quiz"
    class="h-[200px] rounded-3xl bg-white text-white uppercase text-[40px] flex items-center justify-center font-medium cursor-pointer"
    style="
      background: linear-gradient(
        89.8deg,
        rgb(39, 115, 255) 4.3%,
        rgb(62, 211, 232) 101.4%
      );
    "
  >
    START
  </div>
</div>
